<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">JobMatch</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        {% url 'jobs:job_list' as jobs_url %}
        {% if jobs_url %}
        <li class="nav-item"><a class="nav-link" href="{{ jobs_url }}">Browse Jobs</a></li>
        {% endif %}

        {% url 'matching:recommendations' as recommendations_url %}
        {% if recommendations_url %}
        <li class="nav-item"><a class="nav-link" href="{{ recommendations_url }}">Recommended For You</a></li>
        {% endif %}

        {% url 'interactions:applications' as applications_url %}
        {% if applications_url %}
        <li class="nav-item"><a class="nav-link" href="{{ applications_url }}">My Applications</a></li>
        {% endif %}

        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">Log In</a></li>
      </ul>
    </div>
  </div>
</nav>
