<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    {% url 'jobs:job_list' as jobs_url %}
    {% url 'accounts:login' as login_url %}
    <a class="navbar-brand" href="{{ jobs_url }}">JobMatch</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="{{ jobs_url }}">Browse Jobs</a></li>

        {% url 'matching:recommendations' as recommendations_url %}
        {% if recommendations_url %}
        <li class="nav-item"><a class="nav-link" href="{{ recommendations_url }}">Recommended For You</a></li>
        {% endif %}

        {% url 'interactions:applications' as applications_url %}
        {% if applications_url %}
        <li class="nav-item"><a class="nav-link" href="{{ applications_url }}">My Applications</a></li>
        {% endif %}

        {% if login_url %}
        <li class="nav-item"><a class="nav-link" href="{{ login_url }}">Log In</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
